.updateFormstyle {
  position: fixed;
  top: 120px;
  bottom: 90px;
  left: 200px;
  right: 0;
  overflow-y: auto;
  margin-top: 20px;
  padding: 0;
  display: "flex";
  justify-content: space-between;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.updateFormstyle label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.updateFormstyle input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.updateFormstyle button {
  padding: 0.5rem 1rem;
  background-color: #4a00e0;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.updateFormstyle button:hover {
  background-color: #8e2de2;
}
