footer {
  position: fixed;
  bottom: 0;
  left: 200px;
  font-weight: lighter;
  margin-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.574);
  height: 40px;
  width: calc(100% - 200px);
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
