.itemList {
  position: fixed;
  top: 120px; /* Adjust top position to accommodate navbar */
  bottom: 90px; /* Adjust bottom position to accommodate footer */
  left: 200px; /* Adjust left position to accommodate sidebar */
  right: 0;
  overflow-y: auto; /* Add scrollbar if content exceeds height */
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #ccc; /* Add border to the left */
  border-right: 1px solid #ccc; /* Add border to the right */
}

.itemList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemList li > span {
  font-size: 20px;
}

.itemList li > img {
  width: 300px;
  height: 200px;
}

.itemList li > button {
  margin-right: 30px;
  width: 60px;
  height: 30px;
}

.itemList li:last-child {
  border-bottom: none;
}
